/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Estilos para que la aplicación sea responsive */
* {
  box-sizing: border-box;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 599px) {
  .mat-card {
    box-shadow: none !important;
    border-radius: 0 !important;
  }
}

/* Estilos para que los botones sean más tocables en móviles */
@media (max-width: 599px) {
  .mat-button, .mat-raised-button, .mat-flat-button, .mat-stroked-button {
    min-height: 48px;
    line-height: 48px;
  }
  
  mat-form-field {
    font-size: 16px; /* Evita el zoom en iOS */
  }
}